PingTraceSolution/WebApplication1/Service References/MyWebService1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Trace">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="destination" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraceResult" type="tns:ArrayOfTraceResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTraceResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TraceResult" nillable="true" type="tns:TraceResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TraceResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Identity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MachineName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartedAt" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FinishedAt" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Payload" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Traces">
        <s:complexType />
      </s:element>
      <s:element name="TracesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TracesResult" type="tns:ArrayOfTraceDestination" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTraceDestination">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TraceDestination" nillable="true" type="tns:TraceDestination" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TraceDestination">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpectedIdentity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpectedMachineNames" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpectedElapsedMilisecondsMax" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpectedElapsedMilisecondsAverage" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PayloadDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PayloadRegex" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="TraceSoapIn">
    <wsdl:part name="parameters" element="tns:Trace" />
  </wsdl:message>
  <wsdl:message name="TraceSoapOut">
    <wsdl:part name="parameters" element="tns:TraceResponse" />
  </wsdl:message>
  <wsdl:message name="TracesSoapIn">
    <wsdl:part name="parameters" element="tns:Traces" />
  </wsdl:message>
  <wsdl:message name="TracesSoapOut">
    <wsdl:part name="parameters" element="tns:TracesResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Trace">
      <wsdl:input message="tns:TraceSoapIn" />
      <wsdl:output message="tns:TraceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Traces">
      <wsdl:input message="tns:TracesSoapIn" />
      <wsdl:output message="tns:TracesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Trace">
      <soap:operation soapAction="http://tempuri.org/Trace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Traces">
      <soap:operation soapAction="http://tempuri.org/Traces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Trace">
      <soap12:operation soapAction="http://tempuri.org/Trace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Traces">
      <soap12:operation soapAction="http://tempuri.org/Traces" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:4743/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:4743/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>